/* General Body Styling */

body {
	background-color: #DFE1F4;
	width: 100%;
}

section {
	margin-bottom: 3%;
}

/* Image Styling */

#navBar {
	background-color: #24293C;
	border: none;
}


#image_col a img{
	margin-top: 8%;
	margin-bottom: 8%;
	margin-left: 20%;
	width: 30%;
}



/* Search Box styling */

#search_form {
	margin-top: 3.5%;
	display: flex;
	justify-content: center;
}

#search_form input {
	width: 85%;
	font-size: 17px;
	border: none;
}

#search_form button {
	font-size: 17px;
	border: none;
}

#search_form button:hover {
	background: #ccc;
}



/* Search Result styling */

#search_result .row {
	margin-top: 3%;
}

.col-3 {
	margin-left: 6.5%;
	background-color: white;
}

.col-3 a div{
	margin-top: 5%;
	margin-bottom: 5%;
}

.col-3 a:hover {
	text-decoration: none;
}

.col-8 h4{
	margin-left: 10%;
}

